*{
    margin: 0;
    padding: 0;
    
}


body{
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(1, 100, 1);
    color: white;
    line-height: 1.6;
}

/* HEADER */
header{
    text-align: center;
    color: white;
    background-color: rgb(197, 2, 2);
    padding: 15px;
}

/* MAIN */
.hero{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/plato-y-bandera-italiana.png);
    background-size: cover;
    background-position: center;
    height: 40vh;
    text-align: center;
    color: white;
}

.hero h2{
    text-align: center;
    color: white;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color:white;
    padding: 15px;
}

div{
    background-color: rgb(197, 2, 2);
    color: black;
    text-align: center;
    padding: 15px;
    margin: 60px 300px;
}


/* FOOTER */
footer{
    text-align: center;
    color: white;
    background-color: rgb(197, 2, 2);
    padding: 10px;
} 